In [1]:
import tensorflow as tf
tf.set_random_seed(42)

In [2]:
import numpy as np
import pandas as pd
from sklearn import metrics
from sklearn import preprocessing

In [3]:
import keras

Using TensorFlow backend.

### 1. Read the dataset

In [4]:
bank_df = pd.read_csv("bank.csv")

In [5]:
bank_df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [6]:
bank_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
RowNumber          10000 non-null int64
CustomerId         10000 non-null int64
Surname            10000 non-null object
CreditScore        10000 non-null int64
Geography          10000 non-null object
Gender             10000 non-null object
Age                10000 non-null int64
Tenure             10000 non-null int64
Balance            10000 non-null float64
NumOfProducts      10000 non-null int64
HasCrCard          10000 non-null int64
IsActiveMember     10000 non-null int64
EstimatedSalary    10000 non-null float64
Exited             10000 non-null int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

Contains 10000 entries and have Surname, Geography and Gender as object column

### 2. Drop the columns which are unique for all users like IDs (2.5 points)

In [9]:
bank_df.drop(['RowNumber','CustomerId','Surname',],axis=1,inplace=True)

In [10]:
bank_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
CreditScore        10000 non-null int64
Geography          10000 non-null object
Gender             10000 non-null object
Age                10000 non-null int64
Tenure             10000 non-null int64
Balance            10000 non-null float64
NumOfProducts      10000 non-null int64
HasCrCard          10000 non-null int64
IsActiveMember     10000 non-null int64
EstimatedSalary    10000 non-null float64
Exited             10000 non-null int64
dtypes: float64(2), int64(7), object(2)
memory usage: 859.5+ KB

In [11]:
bank_df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

### 3. Distinguish the feature and target set (2.5 points)

In [13]:
X = bank_df.iloc[:,0:10].values

In [15]:
Y = bank_df.iloc[:,-1].values

### 4.  Divide the data set into Train and test sets

In [19]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder

In [21]:
X_Encoder = LabelEncoder()

In [23]:
X[:,1] = X_Encoder.fit_transform(X[:,1])

In [25]:
X_Encoder1 = LabelEncoder()

In [26]:
X[:,2] = X_Encoder1.fit_transform(X[:,2])

In [28]:
oneHotEncoder = OneHotEncoder(categorical_features = [1])

In [29]:
X = oneHotEncoder.fit_transform(X).toarray()

In [33]:
X = X[:,1:]

In [42]:
from sklearn.model_selection import train_test_split

In [43]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=7)

### 5. Normalize the train and test data (2.5 points)

In [44]:
from sklearn.preprocessing import StandardScaler

In [45]:
scaler = StandardScaler()

In [46]:
X_train_Scale = scaler.fit_transform(X_train)

In [54]:
X_test_Scale = scaler.transform(X_test)

### 6.  Initialize & build the model (10 points)

In [58]:
from keras.models import Sequential
from keras.layers import Dense

In [59]:
X_train_Scale.shape

(8000, 10)

In [60]:
X_test_Scale.shape

(2000, 10)

In [61]:
# create model
model = Sequential()
model.add(Dense(6, input_dim=10, activation='relu'))
model.add(Dense(6, activation='relu'))
model.add(Dense(1, activation='sigmoid'))
# Compile model
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

WARNING:tensorflow:From C:\ProgramData\Anaconda3\lib\site-packages\tensorflow\python\framework\op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

In [65]:
model.fit(X_train_Scale, y_train, 
          validation_data=(X_test_Scale, y_test), 
          epochs=50,
          batch_size=X_train_Scale.shape[0])

Train on 8000 samples, validate on 2000 samples
Epoch 1/50
8000/8000 [==============================] - 0s 1us/step - loss: 0.5178 - acc: 0.7836 - val_loss: 0.5141 - val_acc: 0.7780
Epoch 2/50
8000/8000 [==============================] - 0s 1us/step - loss: 0.5169 - acc: 0.7841 - val_loss: 0.5132 - val_acc: 0.7790
Epoch 3/50
8000/8000 [==============================] - 0s 1us/step - loss: 0.5159 - acc: 0.7851 - val_loss: 0.5124 - val_acc: 0.7805
Epoch 4/50
8000/8000 [==============================] - 0s 1us/step - loss: 0.5151 - acc: 0.7860 - val_loss: 0.5116 - val_acc: 0.7805
Epoch 5/50
8000/8000 [==============================] - 0s 1us/step - loss: 0.5142 - acc: 0.7861 - val_loss: 0.5107 - val_acc: 0.7815
Epoch 6/50
8000/8000 [==============================] - 0s 1us/step - loss: 0.5133 - acc: 0.7868 - val_loss: 0.5100 - val_acc: 0.7815
Epoch 7/50
8000/8000 [==============================] - 0s 1us/step - loss: 0.5124 - acc: 0.7872 - val_loss: 0.5092 - val_acc: 0.7815
Epoch 8/50
8000/8000 [==============================] - 0s 1us/step - loss: 0.5116 - acc: 0.7874 - val_loss: 0.5084 - val_acc: 0.7820
Epoch 9/50
8000/8000 [==============================] - 0s 1us/step - loss: 0.5108 - acc: 0.7878 - val_loss: 0.5076 - val_acc: 0.7825
Epoch 10/50
8000/8000 [==============================] - 0s 1us/step - loss: 0.5100 - acc: 0.7880 - val_loss: 0.5069 - val_acc: 0.7850
Epoch 11/50
8000/8000 [==============================] - 0s 1us/step - loss: 0.5092 - acc: 0.7881 - val_loss: 0.5062 - val_acc: 0.7855
Epoch 12/50
8000/8000 [==============================] - 0s 1us/step - loss: 0.5084 - acc: 0.7883 - val_loss: 0.5055 - val_acc: 0.7855
Epoch 13/50
8000/8000 [==============================] - 0s 1us/step - loss: 0.5077 - acc: 0.7883 - val_loss: 0.5048 - val_acc: 0.7855
Epoch 14/50
8000/8000 [==============================] - 0s 1us/step - loss: 0.5069 - acc: 0.7891 - val_loss: 0.5041 - val_acc: 0.7860
Epoch 15/50
8000/8000 [==============================] - 0s 1us/step - loss: 0.5062 - acc: 0.7891 - val_loss: 0.5034 - val_acc: 0.7860
Epoch 16/50
8000/8000 [==============================] - 0s 1us/step - loss: 0.5055 - acc: 0.7894 - val_loss: 0.5027 - val_acc: 0.7870
Epoch 17/50
8000/8000 [==============================] - 0s 1us/step - loss: 0.5048 - acc: 0.7899 - val_loss: 0.5021 - val_acc: 0.7870
Epoch 18/50
8000/8000 [==============================] - 0s 1us/step - loss: 0.5041 - acc: 0.7903 - val_loss: 0.5015 - val_acc: 0.7870
Epoch 19/50
8000/8000 [==============================] - 0s 1us/step - loss: 0.5034 - acc: 0.7905 - val_loss: 0.5008 - val_acc: 0.7875
Epoch 20/50
8000/8000 [==============================] - 0s 1us/step - loss: 0.5027 - acc: 0.7906 - val_loss: 0.5002 - val_acc: 0.7890
Epoch 21/50
8000/8000 [==============================] - 0s 2us/step - loss: 0.5021 - acc: 0.7908 - val_loss: 0.4996 - val_acc: 0.7895
Epoch 22/50
8000/8000 [==============================] - 0s 1us/step - loss: 0.5014 - acc: 0.7914 - val_loss: 0.4990 - val_acc: 0.7890
Epoch 23/50
8000/8000 [==============================] - 0s 1us/step - loss: 0.5008 - acc: 0.7919 - val_loss: 0.4984 - val_acc: 0.7890
Epoch 24/50
8000/8000 [==============================] - 0s 1us/step - loss: 0.5002 - acc: 0.7922 - val_loss: 0.4979 - val_acc: 0.7900
Epoch 25/50
8000/8000 [==============================] - 0s 1us/step - loss: 0.4996 - acc: 0.7926 - val_loss: 0.4973 - val_acc: 0.7910
Epoch 26/50
8000/8000 [==============================] - 0s 1us/step - loss: 0.4990 - acc: 0.7928 - val_loss: 0.4967 - val_acc: 0.7910
Epoch 27/50
8000/8000 [==============================] - 0s 2us/step - loss: 0.4984 - acc: 0.7933 - val_loss: 0.4962 - val_acc: 0.7915
Epoch 28/50
8000/8000 [==============================] - 0s 1us/step - loss: 0.4978 - acc: 0.7935 - val_loss: 0.4956 - val_acc: 0.7915
Epoch 29/50
8000/8000 [==============================] - 0s 2us/step - loss: 0.4972 - acc: 0.7941 - val_loss: 0.4951 - val_acc: 0.7915
Epoch 30/50
8000/8000 [==============================] - 0s 1us/step - loss: 0.4967 - acc: 0.7944 - val_loss: 0.4946 - val_acc: 0.7915
Epoch 31/50
8000/8000 [==============================] - 0s 1us/step - loss: 0.4961 - acc: 0.7949 - val_loss: 0.4941 - val_acc: 0.7925
Epoch 32/50
8000/8000 [==============================] - 0s 2us/step - loss: 0.4956 - acc: 0.7950 - val_loss: 0.4936 - val_acc: 0.7925
Epoch 33/50
8000/8000 [==============================] - 0s 1us/step - loss: 0.4950 - acc: 0.7952 - val_loss: 0.4931 - val_acc: 0.7930
Epoch 34/50
8000/8000 [==============================] - 0s 1us/step - loss: 0.4945 - acc: 0.7954 - val_loss: 0.4926 - val_acc: 0.7930
Epoch 35/50
8000/8000 [==============================] - 0s 1us/step - loss: 0.4940 - acc: 0.7955 - val_loss: 0.4921 - val_acc: 0.7930
Epoch 36/50
8000/8000 [==============================] - 0s 1us/step - loss: 0.4935 - acc: 0.7956 - val_loss: 0.4917 - val_acc: 0.7930
Epoch 37/50
8000/8000 [==============================] - 0s 1us/step - loss: 0.4930 - acc: 0.7958 - val_loss: 0.4912 - val_acc: 0.7930
Epoch 38/50
8000/8000 [==============================] - 0s 1us/step - loss: 0.4925 - acc: 0.7958 - val_loss: 0.4908 - val_acc: 0.7930
Epoch 39/50
8000/8000 [==============================] - 0s 1us/step - loss: 0.4920 - acc: 0.7958 - val_loss: 0.4903 - val_acc: 0.7930
Epoch 40/50
8000/8000 [==============================] - 0s 1us/step - loss: 0.4915 - acc: 0.7959 - val_loss: 0.4899 - val_acc: 0.7935
Epoch 41/50
8000/8000 [==============================] - 0s 1us/step - loss: 0.4910 - acc: 0.7959 - val_loss: 0.4894 - val_acc: 0.7940
Epoch 42/50
8000/8000 [==============================] - 0s 1us/step - loss: 0.4906 - acc: 0.7959 - val_loss: 0.4890 - val_acc: 0.7945
Epoch 43/50
8000/8000 [==============================] - 0s 1us/step - loss: 0.4901 - acc: 0.7959 - val_loss: 0.4886 - val_acc: 0.7945
Epoch 44/50
8000/8000 [==============================] - 0s 1us/step - loss: 0.4897 - acc: 0.7959 - val_loss: 0.4882 - val_acc: 0.7950
Epoch 45/50
8000/8000 [==============================] - 0s 1us/step - loss: 0.4892 - acc: 0.7959 - val_loss: 0.4878 - val_acc: 0.7945
Epoch 46/50
8000/8000 [==============================] - 0s 1us/step - loss: 0.4888 - acc: 0.7960 - val_loss: 0.4874 - val_acc: 0.7945
Epoch 47/50
8000/8000 [==============================] - 0s 1us/step - loss: 0.4883 - acc: 0.7962 - val_loss: 0.4870 - val_acc: 0.7940
Epoch 48/50
8000/8000 [==============================] - 0s 1us/step - loss: 0.4879 - acc: 0.7962 - val_loss: 0.4866 - val_acc: 0.7940
Epoch 49/50
8000/8000 [==============================] - 0s 1us/step - loss: 0.4875 - acc: 0.7962 - val_loss: 0.4862 - val_acc: 0.7940
Epoch 50/50
8000/8000 [==============================] - 0s 1us/step - loss: 0.4871 - acc: 0.7964 - val_loss: 0.4859 - val_acc: 0.7945

In [77]:
model = tf.keras.models.Sequential()
model.add(tf.keras.layers.Dense(6, input_dim=10, activation='relu'))
model.add(tf.keras.layers.Dense(6, activation='relu'))
model.add(tf.keras.layers.Dense(1, activation='sigmoid'))
sgd_optimizer = tf.keras.optimizers.SGD(lr=0.5)

In [78]:
model.compile(loss='binary_crossentropy', optimizer=sgd_optimizer, metrics=['accuracy'])

In [79]:
model.fit(X_train_Scale, y_train, 
          validation_data=(X_test_Scale, y_test), 
          epochs=50,
          batch_size=X_train_Scale.shape[0])

Train on 8000 samples, validate on 2000 samples
Epoch 1/50
8000/8000 [==============================] - 0s 26us/sample - loss: 0.7287 - acc: 0.5487 - val_loss: 0.6224 - val_acc: 0.7070
Epoch 2/50
8000/8000 [==============================] - 0s 1us/sample - loss: 0.6207 - acc: 0.7134 - val_loss: 0.5754 - val_acc: 0.7730
Epoch 3/50
8000/8000 [==============================] - 0s 1us/sample - loss: 0.5728 - acc: 0.7775 - val_loss: 0.5500 - val_acc: 0.7925
Epoch 4/50
8000/8000 [==============================] - 0s 2us/sample - loss: 0.5470 - acc: 0.7935 - val_loss: 0.5352 - val_acc: 0.7960
Epoch 5/50
8000/8000 [==============================] - 0s 2us/sample - loss: 0.5320 - acc: 0.7965 - val_loss: 0.5261 - val_acc: 0.7955
Epoch 6/50
8000/8000 [==============================] - 0s 2us/sample - loss: 0.5228 - acc: 0.7970 - val_loss: 0.5201 - val_acc: 0.7955
Epoch 7/50
8000/8000 [==============================] - 0s 1us/sample - loss: 0.5167 - acc: 0.7968 - val_loss: 0.5157 - val_acc: 0.7945
Epoch 8/50
8000/8000 [==============================] - 0s 1us/sample - loss: 0.5122 - acc: 0.7965 - val_loss: 0.5123 - val_acc: 0.7945
Epoch 9/50
8000/8000 [==============================] - 0s 1us/sample - loss: 0.5088 - acc: 0.7966 - val_loss: 0.5094 - val_acc: 0.7945
Epoch 10/50
8000/8000 [==============================] - 0s 2us/sample - loss: 0.5059 - acc: 0.7968 - val_loss: 0.5068 - val_acc: 0.7945
Epoch 11/50
8000/8000 [==============================] - 0s 1us/sample - loss: 0.5033 - acc: 0.7968 - val_loss: 0.5044 - val_acc: 0.7945
Epoch 12/50
8000/8000 [==============================] - 0s 2us/sample - loss: 0.5010 - acc: 0.7968 - val_loss: 0.5022 - val_acc: 0.7945
Epoch 13/50
8000/8000 [==============================] - 0s 2us/sample - loss: 0.4988 - acc: 0.7968 - val_loss: 0.5002 - val_acc: 0.7945
Epoch 14/50
8000/8000 [==============================] - 0s 2us/sample - loss: 0.4967 - acc: 0.7968 - val_loss: 0.4982 - val_acc: 0.7945
Epoch 15/50
8000/8000 [==============================] - 0s 2us/sample - loss: 0.4948 - acc: 0.7968 - val_loss: 0.4963 - val_acc: 0.7945
Epoch 16/50
8000/8000 [==============================] - 0s 2us/sample - loss: 0.4929 - acc: 0.7968 - val_loss: 0.4944 - val_acc: 0.7945
Epoch 17/50
8000/8000 [==============================] - 0s 1us/sample - loss: 0.4911 - acc: 0.7968 - val_loss: 0.4927 - val_acc: 0.7945
Epoch 18/50
8000/8000 [==============================] - 0s 2us/sample - loss: 0.4893 - acc: 0.7966 - val_loss: 0.4910 - val_acc: 0.7945
Epoch 19/50
8000/8000 [==============================] - 0s 2us/sample - loss: 0.4876 - acc: 0.7966 - val_loss: 0.4893 - val_acc: 0.7950
Epoch 20/50
8000/8000 [==============================] - 0s 1us/sample - loss: 0.4860 - acc: 0.7966 - val_loss: 0.4877 - val_acc: 0.7950
Epoch 21/50
8000/8000 [==============================] - 0s 1us/sample - loss: 0.4843 - acc: 0.7966 - val_loss: 0.4862 - val_acc: 0.7950
Epoch 22/50
8000/8000 [==============================] - 0s 1us/sample - loss: 0.4828 - acc: 0.7966 - val_loss: 0.4847 - val_acc: 0.7950
Epoch 23/50
8000/8000 [==============================] - 0s 1us/sample - loss: 0.4812 - acc: 0.7968 - val_loss: 0.4833 - val_acc: 0.7950
Epoch 24/50
8000/8000 [==============================] - 0s 1us/sample - loss: 0.4797 - acc: 0.7968 - val_loss: 0.4819 - val_acc: 0.7955
Epoch 25/50
8000/8000 [==============================] - 0s 1us/sample - loss: 0.4783 - acc: 0.7968 - val_loss: 0.4805 - val_acc: 0.7955
Epoch 26/50
8000/8000 [==============================] - 0s 2us/sample - loss: 0.4769 - acc: 0.7968 - val_loss: 0.4791 - val_acc: 0.7955
Epoch 27/50
8000/8000 [==============================] - 0s 2us/sample - loss: 0.4755 - acc: 0.7968 - val_loss: 0.4778 - val_acc: 0.7955
Epoch 28/50
8000/8000 [==============================] - 0s 2us/sample - loss: 0.4741 - acc: 0.7970 - val_loss: 0.4765 - val_acc: 0.7955
Epoch 29/50
8000/8000 [==============================] - 0s 2us/sample - loss: 0.4728 - acc: 0.7971 - val_loss: 0.4752 - val_acc: 0.7960
Epoch 30/50
8000/8000 [==============================] - 0s 2us/sample - loss: 0.4714 - acc: 0.7972 - val_loss: 0.4740 - val_acc: 0.7960
Epoch 31/50
8000/8000 [==============================] - 0s 2us/sample - loss: 0.4701 - acc: 0.7972 - val_loss: 0.4727 - val_acc: 0.7955
Epoch 32/50
8000/8000 [==============================] - 0s 2us/sample - loss: 0.4689 - acc: 0.7972 - val_loss: 0.4715 - val_acc: 0.7950
Epoch 33/50
8000/8000 [==============================] - 0s 1us/sample - loss: 0.4677 - acc: 0.7975 - val_loss: 0.4704 - val_acc: 0.7950
Epoch 34/50
8000/8000 [==============================] - 0s 1us/sample - loss: 0.4664 - acc: 0.7976 - val_loss: 0.4692 - val_acc: 0.7960
Epoch 35/50
8000/8000 [==============================] - 0s 1us/sample - loss: 0.4652 - acc: 0.7979 - val_loss: 0.4681 - val_acc: 0.7965
Epoch 36/50
8000/8000 [==============================] - 0s 1us/sample - loss: 0.4640 - acc: 0.7984 - val_loss: 0.4670 - val_acc: 0.7965
Epoch 37/50
8000/8000 [==============================] - 0s 1us/sample - loss: 0.4628 - acc: 0.7984 - val_loss: 0.4659 - val_acc: 0.7975
Epoch 38/50
8000/8000 [==============================] - 0s 1us/sample - loss: 0.4617 - acc: 0.7986 - val_loss: 0.4649 - val_acc: 0.7980
Epoch 39/50
8000/8000 [==============================] - 0s 1us/sample - loss: 0.4605 - acc: 0.7987 - val_loss: 0.4639 - val_acc: 0.7985
Epoch 40/50
8000/8000 [==============================] - 0s 1us/sample - loss: 0.4594 - acc: 0.7985 - val_loss: 0.4629 - val_acc: 0.7985
Epoch 41/50
8000/8000 [==============================] - 0s 1us/sample - loss: 0.4583 - acc: 0.7983 - val_loss: 0.4620 - val_acc: 0.8000
Epoch 42/50
8000/8000 [==============================] - 0s 1us/sample - loss: 0.4572 - acc: 0.7980 - val_loss: 0.4611 - val_acc: 0.7990
Epoch 43/50
8000/8000 [==============================] - 0s 1us/sample - loss: 0.4562 - acc: 0.7979 - val_loss: 0.4602 - val_acc: 0.7995
Epoch 44/50
8000/8000 [==============================] - 0s 1us/sample - loss: 0.4552 - acc: 0.7981 - val_loss: 0.4594 - val_acc: 0.8000
Epoch 45/50
8000/8000 [==============================] - 0s 1us/sample - loss: 0.4543 - acc: 0.7983 - val_loss: 0.4586 - val_acc: 0.7985
Epoch 46/50
8000/8000 [==============================] - 0s 1us/sample - loss: 0.4533 - acc: 0.7990 - val_loss: 0.4579 - val_acc: 0.8005
Epoch 47/50
8000/8000 [==============================] - 0s 2us/sample - loss: 0.4524 - acc: 0.7990 - val_loss: 0.4571 - val_acc: 0.8020
Epoch 48/50
8000/8000 [==============================] - 0s 1us/sample - loss: 0.4516 - acc: 0.7997 - val_loss: 0.4563 - val_acc: 0.8015
Epoch 49/50
8000/8000 [==============================] - 0s 2us/sample - loss: 0.4507 - acc: 0.7999 - val_loss: 0.4555 - val_acc: 0.7995
Epoch 50/50
8000/8000 [==============================] - 0s 2us/sample - loss: 0.4499 - acc: 0.8005 - val_loss: 0.4548 - val_acc: 0.7995

There is a minor improvement

### 8. Predict the results using 0.5 as a threshold (5 points)

In [82]:
y_predict = model.predict(X_test_Scale)

In [83]:
y_predict = (y_predict>0.5)

### 9. Print the Accuracy score and confusion matrix (2.5 points)

In [85]:
from sklearn.metrics import confusion_matrix

In [87]:
cm = confusion_matrix(y_test,y_predict)

In [88]:
cm

array([[1570,   19],
       [ 382,   29]], dtype=int64)

In [89]:
metrics.accuracy_score(y_test,y_predict)

0.7995

In [90]:
cr=metrics.classification_report(y_test,y_predict)
print(cr)

             precision    recall  f1-score   support

          0       0.80      0.99      0.89      1589
          1       0.60      0.07      0.13       411

avg / total       0.76      0.80      0.73      2000