In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity ='all'

## Importing the Sample

In [2]:
ds = pd.read_csv('Book1.csv',names=['sales','olds','news'])

Analysisng the Data and Preprocessing

In [3]:
ds.shape
ds.size
ds.dtypes
ds.head()

(31, 3)

93

sales    object
olds     object
news     object
dtype: object

         sales                       olds                       news
0  SALESPERSON  Old Scheme (in thousands)  New Scheme (in thousands)
1            1                         57                         62
2            2                        103                        122
3            3                         59                         54
4            4                         75                         82

In [4]:
ds = ds.iloc[1:,:]

In [5]:
ds.olds =ds.olds.astype(dtype='int64')
ds.news =ds.news.astype(dtype='int64')

In [6]:
ds.news = ds.news.multiply(1000)
ds.olds = ds.olds.multiply(1000)

In [7]:
from math import sqrt
import statistics as st
import scipy.stats as sp

In [8]:
ds.describe(include='all')

       sales           olds           news
count     30      30.000000      30.000000
unique    30            NaN            NaN
top        3            NaN            NaN
freq       1            NaN            NaN
mean     NaN   68033.333333   72033.333333
std      NaN   20455.980212   24062.394947
min      NaN   28000.000000   32000.000000
25%      NaN   54000.000000   55000.000000
50%      NaN   67000.000000   74000.000000
75%      NaN   81500.000000   85750.000000
max      NaN  110000.000000  122000.000000

## HypoThesis Testing

H0 : Difference of NewSchemeSale and OldSchemeSale = 0

H1 : Difference of NewSchemeSale and OldSchemeSale > 0

## Q1.Finding the mean of old scheme and new scheme column

In [18]:
std = st.stdev(ds.news)
mean_newsch = st.mean(ds.news)
mean_oldsch = st.mean(ds.olds)
alpha = 0.05
print (mean_newsch,mean_oldsch)
print ("The Difference of NewScheme and OldScheme is ",mean_newsch - mean_oldsch)

72033.33333333333 68033.33333333333
The Difference of NewScheme and OldScheme is  4000.0

In [10]:
print ("The mean of old scheme",mean_oldsch)
print ("The mean of new scheme",mean_newsch)

The mean of old scheme 68033.33333333333
The mean of new scheme 72033.33333333333

## Q2.Determining the P-value with SL = 0.05

In [11]:
z_value = (mean_newsch - mean_oldsch)/(std/(sqrt(ds.shape[0])))
print("The Z-value is =",z_value)

The Z-value is = 0.9105038109741677

In [12]:
sp.norm.cdf(z_value)
p_value = 1 - sp.norm.cdf(z_value)
print ("The P-Value is = ",p_value)

0.8187215635831211

The P-Value is =  0.1812784364168789

In [13]:
p_value > alpha

True

## Q3.Conclusion of the p-value test

As the p-Value is Greater than the alpha (significance Level) We Accept the Null Hypothesis.

NewSchemeSale is equal or less than the OldSchemeSale

### Q4:a. The probability of type 1 error

The probability of type 1 error is 0.05 as the significance level is 5%

## Q4:b. p- value for a difference of $5000

H0 : Difference of NewSchemeSale and OldSchemeSale <=5000

H1 : Difference of NewSchemeSale and OldSchemeSale > 5000

In [14]:
z_value = 5000/(std/(sqrt(ds.shape[0])))
print("The Z-value is =",z_value)

The Z-value is = 1.1381297637177097

In [15]:
sp.norm.cdf(z_value)
p_value = 1 - sp.norm.cdf(z_value)
print ("The P-Value is = ",p_value)

0.8724668492716406

The P-Value is =  0.12753315072835936

In [16]:
p_value > alpha

True

### Q4:c.Power of the test

Helps in deciding the null Hypothesis to accept or to reject.